* {
  margin: 0;
  padding: 0;   
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  
}
.orqafon {
  background: url(img/orqafon.png);
  background-size: cover;
  height: 770px;
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: center;
  padding-top: 41px;
}
.navbar img {
  margin-left: 100px;
}
.header {
  margin-top: 317px;
  display: flex;
  justify-content: center;
  color: white;
}
.header-content h4 {
  font-size: 60px;
}
.foter {
margin-top: 200px;
margin: 0 auto;
color: white;
}
.orta {
  margin-top: 24px; 
  border-bottom: solid 1px #E6E6E6;
}
.orta ul:hover a {
  color: #00A4E5;

}
.orta-content {
  width: 941px;
 
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
}
.orta a{
  color: black;
}
.orta ul {
  display: flex;
  gap: 40px;
}
.orta2-content h5 {
  color: black;
}
.orta2 {
  margin-top: 50px;
}
.orta2 span {
  margin-left: 30px;
  color: #00A4E5;
  font-size: px;
}
.orta2-content {
  
  width: 941px;
  height: 344px;
  margin: 0 auto;
  
}
.sarlovha {
  margin-bottom: 92px;
  margin: 0 auto;
}
.orta2-content p{
  margin-top: 30px;
}
.reklama {
  display: flex;
  justify-content: space-between;
}
.img {
  margin-top: -26px;
}
.orta3 {
  margin-top: 118px;
  width: 950px;
  height: 446px;
  margin: 0 a;
}
.maslahat {
  display: flex;
  justify-content: space-between;

}
.span {
  color: #00A4E5;
}
.maslahat button {
  width: 150px;
  height: 40px;
  background: #00A4E5;
  border: 0;
  color: white;
}
.maslahatimg {
  margin-top: 78px;
  display: flex;
  gap: 28px;
  margin: 0 auto;
  /* justify-content: space-between; */
}
.pas {
  margin-top: 115px;
}
.span2 {
  color: #00A4E5;
}